<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard-user.css">
    {{!-- Fontawesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Wanderer | {{name}}</title>
</head>
<body>
    {{>header}}
    <div class="container">
        <!-- Content between requests -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                    {{#if engagedWith}}
                        <a href='http://localhost:3000/chat-user?initiator={{userName}}&receiver={{engagedWith}}&room={{roomNo}}'>{{engagedWith}}</a>
                    {{/if}}
                    
                    {{#if noRequest}}
                        <a>It's lonely here :/</a>
                    {{/if}}
            </div>
        </div>
        <br/>
        <h1>Dashboard</h1>
        {{!-- <form id="logout-form" action="/logout-user" method="POST"><button>Logout</button></form>
        <form id="logoutAll-form" action="/logoutAll-user" method="POST"><button>Logout All</button></form> --}}
        <div class="info">
            <div style="text-align: right;padding-right: 2rem;">
                <div class="avatar">
                    <img></img>
                    <br/>
                    <br/>
                    <form id="avatar" action="/myself-avatar" method="post" enctype="multipart/form-data">
                        <input id='file-upload' type="file" name="avatar" required/>
                        <button id="upload-avatar">Change Avatar</button>
                        <br/>
                        <button id="delete-avatar"><i class="fa fa-trash fa-2x"></i></button>
                    </form>
                </div>
            </div>
            <div style="text-align: left;padding-left: 2rem;padding-top:4rem;">
                <h3>Name : {{name}}</h3>
                <h3>Username : {{userName}}</h3>
                <h3>Email ID : {{email}}</h3>
                <h3>Age : {{age}} years</h3>
            </div>
        </div>
    </div>
    {{>footer}}
    {{!-- For DropDown --}}
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script>
        // Fetching Avatar from DB
        function arrayBufferToBase64(buffer) {
            var binary = ''
            var bytes = [].slice.call(new Uint8Array(buffer))

            bytes.forEach((b) => binary += String.fromCharCode(b))

            return window.btoa(binary)
        }

        var url = 'http://localhost:3000/myself-avatar/{{id}}'
        var request = new Request(url, {
            method: "GET",
            headers: new Headers({
                'Content-Type': 'image/png'
            })
        })

        fetch(request)
        .then((response) => {
            response.arrayBuffer().then((buffer) => {

                if( response.status==404 ){
                    var defaultImg = "https://raw.githubusercontent.com/daxter-army/wanderer/master/src/public/img/avatar.png"
                    document.querySelector('img').src = defaultImg

                    document.querySelector('#delete-avatar').setAttribute('disabled','disabled')
                    document.querySelector('#delete-avatar').style.cursor = 'not-allowed'
                    document.querySelector('#delete-avatar').style.opacity = '0.5'
                    document.querySelector('#delete-avatar').title = "Default Avatar is set"
                }
                else{
                    const base64Flag = 'data:image/jpg;base64,'
                    const imageStr = arrayBufferToBase64(buffer)

                    document.querySelector('img').src = base64Flag + imageStr

                    document.querySelector('#delete-avatar').removeAttribute('disabled')
                    document.querySelector('#delete-avatar').style.cursor = 'pointer'
                    document.querySelector('#delete-avatar').style.opacity = '1'
                    document.querySelector('#delete-avatar').title = "Set Default Avatar" 
                }
            })
        })
        .catch((error) => {
            console.log('Unable to fetch Avatar at Client Side')
        })

        // Delete Avatar
        document.querySelector('#delete-avatar').addEventListener('click', ()=>{
            var xhr = new XMLHttpRequest()
            xhr.open('DELETE', '/myself-avatar', true)
            xhr.send()
            window.location.reload()
        })
    </script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>
</html>